.trainers {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.trainer {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.trainer img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
}

.trainer h2 {
    text-align: center;
    color: #333;
}

.trainer p {
    color: #666;
    text-align: center;
    margin-bottom: 10px;
}

.trainer p:last-child {
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .login, .registreren {
    float: right;
  }

  body {
    font-size: 25px;  /* Standaard lettergrootte in pixels */
    background-color: #f0f0f0;
  }

#panel, #flip {
    padding: center;
    text-align: center;
    background-color: #333;
    border: solid 1px #333;
  }
  
  #panel {
    padding: 20px; /* Verklein de padding van het paneel */
    max-height: 200px; /* Stel een maximale hoogte in voor het paneel */
    overflow-y: auto; /* Voeg een scrollbar toe als de inhoud groter is dan de hoogte */
    max-width: 160px;
  }
  
  #panel ul {
    list-style-type: none; /* Verwijder de standaard opsommingstekens */
    padding: 0; /* Verwijder padding om de lijsten dichter bij elkaar te plaatsen */
    margin: 0; /* Verwijder marges om de lijsten dichter bij elkaar te plaatsen */
  }
  
  #panel li {
    text-align: center; /* Centreer de tekst in de lijsten */
  }
  
  #panel li a {
    display: block; /* Maak de ankerlinks blokken om de volledige breedte te gebruiken */
    padding: 10px; /* Voeg wat padding toe aan de ankerlinks voor visuele scheiding */
  }